* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.w-300px {
    width: 280px;
}

.bg-very-light {
    background-color: #fdfdfd !important;
}

.navbar {
    box-shadow: 1px 1px 3px #bbb;
    background-color: #fdf5ec;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navmenu {
    box-shadow: 1px 1px 3px #bbb;
    z-index: 10;
}

.small-line {
    border-bottom: 1px solid #bbb;
    width: 50px;
}

.old-bathtub {
    height: 300px;
    object-fit: cover;
}

@media (min-width: 576px) {
    .old-bathtub {
        width: initial;
        height: initial;
        object-fit: initial;
    }
}

.hero-img-1,
.hero-img-2,
.hero-img-3 {
    height: 500px;
    width: 33%;
    object-fit: cover;
}

@media (min-width: 576px) {
    .what-we-do {
        font-size: 30px;
    }
}

.booking-button {
    width: 260px;
}

.booking-button:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.tiny-text {
    font-size: 12px;
}

.carousel-item img {
    max-height: 50vh;
    object-fit: cover;
}

@media (max-width: 576px) {
    .carousel-item img {
        max-height: 240px;
        object-fit: cover;
    }
}

.see-galary {
    height: 250px;
    background-image: url(/images/pic-7.jpg);
    background-size: 100%;
    background-position: center;
}

.see-galary div {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.see-galary div .btn {
    width: 260px;
}

.see-galary div .btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-col-border-bottom a {
    border-bottom: 1px solid #ddd;
}

.contact-col-border-bottom a:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

@media (min-width: 992px) {
    .contact-col-border-bottom a{
        border-bottom: none;
    }
    .contact-col-border-bottom {
        border-right: 1px solid #bbb;
    }
}

footer {
    background-color: #fdf5ec;
}



/* 
* Galary
 */

.galary-row img {
    object-fit: cover;
}
