* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 96%) !important;
}

.main-content-max-width {
    max-width: 1850px;
}

.bg-very-light {
    background-color: #fdfdfd !important;
}

.bg-gray {
    background-color: #ccc;
}

.bg-our-pink {
    background-color: hsl(32, 50%,96%);
}

.navbar {
    box-shadow: 1px 1px 3px #bbb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navmenu {
    box-shadow: 1px 1px 3px #bbb;
    z-index: 10;
}

.word-inside-logo {
    font-size: 16px;
    bottom: -1px;
    left: 41px;
    text-transform: uppercase;
    font-family: cursive;
}
/* 
* hover effect on nav links
*/

.nav-link {
    width: 200px;
    text-transform: uppercase; 
}

.nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 1px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav-link:hover:after { 
    transform: scaleX(1); 
}

.small-line {
    border-bottom: 1px solid #bbb;
    width: 50px;
}

.old-bathtub {
    height: 300px;
    object-fit: cover;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 576px) {
    .old-bathtub {
        width: initial;
        height: initial;
        object-fit: initial;
    }

    h1 {
        font-size: 50px !important;
    }
}

.hero-img-1,
.hero-img-2,
.hero-img-3 {
    height: 500px;
    width: 33%;
    object-fit: cover;
}

.big-paragraph {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 576px) {
    .big-paragraph {
        font-size: 35px;
    }
}

.booking-button {
    width: 260px;
}

.booking-button:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

/* 
* Pricing
 */

.pricing-ul li {
    background-color: hsl(0, 0%, 96%) !important;
}

.tiny-text {
    font-size: 12px;
}

.carousel-item img {
    max-height: 50vh;
    object-fit: cover;
}

@media (max-width: 576px) {
    .carousel-item img {
        max-height: 240px;
        object-fit: cover;
    }
}

.see-galary {
    height: 400px;
    background-image: url(images/pic-7.jpg);
    background-size: cover;
    background-position: center;
}

.see-galary div {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.see-galary div .btn {
    width: 260px;
}

.see-galary div .btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* 
* contact coloumns
*/
.contact-us-item {
    background-color: hsl(0, 0%, 96%);
}

.contact-col-border-bottom a {
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
}

.contact-col-border-bottom a:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

@media (min-width: 992px) {
    .contact-col-border-bottom a{
        border-bottom: none;
    }
    .contact-col-border-bottom {
        border-right: 1px solid #bbb;
    }
}

footer {
    background-color: hsl(32, 50%, 96%);
}



/* 
* Galary
 */

.galary-row img {
    object-fit: cover;
}
